/* reset to default values for box-model*/

* {
    margin: 0;
    padding: 0;
    /* to set the content from border to border */
    box-sizing: border-box;
}

/* set the default font for the whole document */
body {
    font-family: 'Nunito' sans-serif;
}

/* Customize the main container and set the dimentions for the whole screen */
.container {
    /* always add the bakcground just to see how to udjust the screen */
    background-color: lightgray;

    /* width 100dvw and height 100dvh will let the content occupy the whole screen */
    width: 100dvw;
    height: 100dvh;

    /* to split the sections use display:flex   VERY IMPORTANT PART to be able to control the settings!!!!!!! */
    display: flex;
    flex-direction: column;
}

/* common padding for major sections of the page */
.header, .main, .footer {
    padding: 20px;
}

/* style header */
.header {
    background-color: #2c3f50;
    width: 100%;
    /* to make the header to accupy 5% of the entire space and dont change it if the screen changes the size*/
    flex-basis: 5%;


    /* separate "My Blog" and nav bar. Div and nav share the same class "header" */
    display: flex;
    justify-content: space-between;

}

/* brand styling */
.header .brand {
    color: white;
    font-size: 20px;
    font-weight: bolder;

}

/* navbar styling */
.header .navbar {
   display: flex;
    /* to create space between the nav bar elements */
    gap: 20px;
}
 

/* links styling */
.navbar a {
  text-decoration: none;
  color: white;
}


/* modofy the state of the lnks when they hovered over */
.navbar a:hover {
    color: rgb(255, 255, 255);

}



/* style footer */
.footer {
    background-color: #2c3f50;
}